CONFIG_TARGET_brcm47xx=y
CONFIG_TARGET_brcm47xx_legacy=y
CONFIG_TARGET_brcm47xx_legacy_Broadcom-b43=y
CONFIG_DEVEL=y
CONFIG_TOOLCHAINOPTS=y
CONFIG_B43_FW_SQUASH_COREREVS="5,6,7,8,9,10,11,13,15,16,28,29"
CONFIG_B43_FW_SQUASH_PHYTYPES="G,LP,N,HT"
CONFIG_DRIVER_11N_SUPPORT=y
CONFIG_IB=y
CONFIG_IMAGEOPT=y
# CONFIG_KERNEL_DEBUG_INFO is not set
# CONFIG_KERNEL_DEBUG_KERNEL is not set
# CONFIG_KERNEL_KALLSYMS is not set
CONFIG_KMOD_MMC_OVER_GPIO_CLK_PIN=4
CONFIG_KMOD_MMC_OVER_GPIO_CS_PIN=7
CONFIG_KMOD_MMC_OVER_GPIO_DI_PIN=1
CONFIG_KMOD_MMC_OVER_GPIO_DO_PIN=3
CONFIG_OPENVPN_polarssl_ENABLE_LZO=y
CONFIG_OPENVPN_polarssl_ENABLE_SMALL=y
CONFIG_PACKAGE_6in4=m
CONFIG_PACKAGE_6to4=m
# CONFIG_PACKAGE_B43_PHY_LP is not set
CONFIG_PACKAGE_block-mount=y
CONFIG_PACKAGE_ip=m
CONFIG_PACKAGE_iperf=m
CONFIG_PACKAGE_iptables-mod-conntrack-extra=m
CONFIG_PACKAGE_iptables-mod-filter=m
CONFIG_PACKAGE_iptables-mod-ipopt=m
CONFIG_PACKAGE_iwinfo=m
# CONFIG_PACKAGE_kmod-b43legacy is not set
CONFIG_PACKAGE_kmod-b44=y
CONFIG_PACKAGE_kmod-crypto-crc32c=m
CONFIG_PACKAGE_kmod-crypto-hash=m
CONFIG_PACKAGE_kmod-eeprom-93cx6=m
CONFIG_PACKAGE_kmod-fs-configfs=m
CONFIG_PACKAGE_kmod-hwmon-core=y
CONFIG_PACKAGE_kmod-ifb=m
CONFIG_PACKAGE_kmod-ipip=m
CONFIG_PACKAGE_kmod-ipt-conntrack-extra=m
CONFIG_PACKAGE_kmod-ipt-filter=m
CONFIG_PACKAGE_kmod-ipt-ipopt=m
CONFIG_PACKAGE_kmod-iptunnel=m
CONFIG_PACKAGE_kmod-iptunnel4=m
CONFIG_PACKAGE_kmod-lib-crc-itu-t=m
CONFIG_PACKAGE_kmod-lib-crc16=m
CONFIG_PACKAGE_kmod-lib-crc32c=m
CONFIG_PACKAGE_kmod-lib-crc7=m
CONFIG_PACKAGE_kmod-lib-lzo=y
CONFIG_PACKAGE_kmod-lib-textsearch=m
CONFIG_PACKAGE_kmod-mii=y
CONFIG_PACKAGE_kmod-mmc=m
CONFIG_PACKAGE_kmod-mmc-over-gpio=m
CONFIG_PACKAGE_kmod-mmc-spi=m
CONFIG_PACKAGE_kmod-nls-base=y
CONFIG_PACKAGE_kmod-p54-common=m
CONFIG_PACKAGE_kmod-p54-usb=m
# CONFIG_PACKAGE_kmod-ppp is not set
CONFIG_PACKAGE_kmod-pps=y
CONFIG_PACKAGE_kmod-ptp=y
CONFIG_PACKAGE_kmod-rt2500-usb=m
CONFIG_PACKAGE_kmod-rt2800-lib=m
CONFIG_PACKAGE_kmod-rt2800-usb=m
CONFIG_PACKAGE_kmod-rt2x00-lib=m
CONFIG_PACKAGE_kmod-rt2x00-usb=m
CONFIG_PACKAGE_kmod-rt73-usb=m
CONFIG_PACKAGE_kmod-rtl8187=m
CONFIG_PACKAGE_kmod-rtl8192c-common=m
CONFIG_PACKAGE_kmod-rtl8192cu=m
CONFIG_PACKAGE_kmod-rtlwifi=m
CONFIG_PACKAGE_kmod-rtlwifi-usb=m
CONFIG_PACKAGE_kmod-sched-connmark=m
CONFIG_PACKAGE_kmod-sched-core=m
CONFIG_PACKAGE_kmod-scsi-core=y
CONFIG_PACKAGE_kmod-sit=m
CONFIG_PACKAGE_kmod-spi-bitbang=m
CONFIG_PACKAGE_kmod-spi-gpio-old=m
CONFIG_PACKAGE_kmod-tg3=y
CONFIG_PACKAGE_kmod-tun=m
CONFIG_PACKAGE_kmod-usb-brcm47xx=y
CONFIG_PACKAGE_kmod-usb-core=y
CONFIG_PACKAGE_kmod-usb-ohci=y
CONFIG_PACKAGE_kmod-usb-storage=y
CONFIG_PACKAGE_kmod-usb-wdm=y
CONFIG_PACKAGE_kmod-zd1211rw=m
CONFIG_PACKAGE_kmod-zram=y
CONFIG_PACKAGE_libblkid=y
CONFIG_PACKAGE_libevent2=m
CONFIG_PACKAGE_libiwinfo=m
CONFIG_PACKAGE_libiwinfo-lua=m
CONFIG_PACKAGE_libltdl=m
CONFIG_PACKAGE_liblua=m
CONFIG_PACKAGE_liblzo=m
CONFIG_PACKAGE_libncurses=m
CONFIG_PACKAGE_libpcap=m
CONFIG_PACKAGE_libpolarssl=m
CONFIG_PACKAGE_libpthread=m
CONFIG_PACKAGE_librt=m
CONFIG_PACKAGE_libssp=m
CONFIG_PACKAGE_libubus-lua=m
CONFIG_PACKAGE_libuci-lua=m
CONFIG_PACKAGE_libustream-polarssl=m
CONFIG_PACKAGE_libuuid=y
CONFIG_PACKAGE_lua=m
CONFIG_PACKAGE_om-watchdog=m
CONFIG_PACKAGE_openvpn-polarssl=m
# CONFIG_PACKAGE_ppp is not set
CONFIG_PACKAGE_px5g=m
CONFIG_PACKAGE_qos-scripts=m
CONFIG_PACKAGE_rssileds=m
CONFIG_PACKAGE_swap-utils=y
CONFIG_PACKAGE_tc=m
CONFIG_PACKAGE_tcpdump=m
CONFIG_PACKAGE_tcpdump-mini=m
CONFIG_PACKAGE_terminfo=m
CONFIG_PACKAGE_uclibcxx=m
CONFIG_PACKAGE_uhttpd=m
CONFIG_PACKAGE_uhttpd-mod-tls=m
CONFIG_PACKAGE_uhttpd-mod-tls_polarssl=y
CONFIG_PACKAGE_uhttpd-mod-ubus=m
CONFIG_PACKAGE_zlib=m
CONFIG_PACKAGE_zram-swap=y
CONFIG_SDK=y
CONFIG_SSP_SUPPORT=y
CONFIG_TARGET_SQUASHFS_BLOCK_SIZE=256
CONFIG_VERSIONOPT=y
CONFIG_VERSION_DIST="Freifunk Berlin"
CONFIG_VERSION_HWREV=""
CONFIG_VERSION_MANUFACTURER=""
CONFIG_VERSION_NICK="kathleen"
CONFIG_VERSION_NUMBER="0.1.1-alpha"
CONFIG_VERSION_PRODUCT=""
CONFIG_VERSION_REPO="http://buildbot.berlin.freifunk.net/buildbot/stable/%V/%T/packages"
# CONFIG_OPENVPN_polarssl_ENABLE_DEF_AUTH is not set
# CONFIG_OPENVPN_polarssl_ENABLE_FRAGMENT is not set
# CONFIG_OPENVPN_polarssl_ENABLE_HTTP is not set
# CONFIG_OPENVPN_polarssl_ENABLE_MULTIHOME is not set
# CONFIG_OPENVPN_polarssl_ENABLE_PF is not set
# CONFIG_OPENVPN_polarssl_ENABLE_PORT_SHARE is not set
# CONFIG_OPENVPN_polarssl_ENABLE_SERVER is not set
# CONFIG_OPENVPN_polarssl_ENABLE_SOCKS is not set
# CONFIG_PACKAGE_B43_BUSES_BCMA is not set
# CONFIG_PACKAGE_B43_BUSES_BCMA_AND_SSB is not set
CONFIG_PACKAGE_kmod-lib-crc-ccitt=y
# CONFIG_TARGET_brcm47xx_generic_Broadcom-ath5k is not set
# CONFIG_TARGET_brcm47xx_generic_Broadcom-b43 is not set
# CONFIG_TARGET_brcm47xx_generic_Broadcom-b44-ath5k is not set
# CONFIG_TARGET_brcm47xx_generic_Broadcom-b44-b43 is not set
# CONFIG_TARGET_brcm47xx_generic_Broadcom-b44-none is not set
# CONFIG_TARGET_brcm47xx_generic_Broadcom-b44-wl is not set
# CONFIG_TARGET_brcm47xx_generic_Broadcom-bgmac-b43 is not set
# CONFIG_TARGET_brcm47xx_generic_Broadcom-bgmac-brcmsmac is not set
# CONFIG_TARGET_brcm47xx_generic_Broadcom-bgmac-none is not set
# CONFIG_TARGET_brcm47xx_generic_Broadcom-bgmac-wl is not set
# CONFIG_TARGET_brcm47xx_generic_Broadcom-none is not set
# CONFIG_TARGET_brcm47xx_generic_Broadcom-tg3-b43 is not set
# CONFIG_TARGET_brcm47xx_generic_Broadcom-tg3-none is not set
# CONFIG_TARGET_brcm47xx_generic_Broadcom-tg3-wl is not set
# CONFIG_TARGET_brcm47xx_generic_Broadcom-wl is not set
# CONFIG_TARGET_brcm47xx_generic_Ps1208mfg is not set
# CONFIG_TARGET_brcm47xx_generic_WGT634U is not set
# CONFIG_TARGET_brcm47xx_generic_WL500GPv1 is not set
# CONFIG_TARGET_brcm47xx_generic_WRT350Nv1 is not set
# CONFIG_TARGET_brcm47xx_generic_WRTSL54GS is not set
